:root {
  --main-color: #ffc107;
  --point-color: #0834ff;
  --font-color: #424242;
  --font-sub: #ffffff;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* universal tags */
*{
  box-sizing: border-box;
}

/* typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--font-color);
  margin: 16px 0;
}

h2{
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  columns: var(--font-color);
  margin: 8px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--font-color);
  margin: 8px 0;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--font-color);
  margin: 4px 0;
}