:root {
  --main-color: #ffc107;
  --main-light: #fff350;
  --main-dark: #c79100;
  --point-color: #3f51b5;
  --point-light: #757de8;
  --point-dark: #002984;
  --font-color: #424242;
  --font-grey: #757575;
  --font-grey-light: #a4a4a4;
  --font-grey-dark: #494949;
  --font-white: #ffffff;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;
}

/* universal tags */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a{
  text-decoration: none;
  color: var(--font-color);
}

ul{
  list-style: none;
  padding-left: 0;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--font-color);
  margin: 16px 0;
}

h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  columns: var(--font-color);
  margin: 8px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--font-color);
  margin: 8px 0;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--font-color);
  margin: 4px 0;
}

/* Navbar */
#navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--font-white);
  align-items: center;
  padding: 16px;
  color: var(--font-grey);
}

.navbar__menu{
  display: flex;
}

.navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}

.navbar__logo img{
  width: 40px;
  margin-right: 5px;
}

.navbar__logo a{
  color: var(--main-color);
}

.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
  border: 1px solid var(--main-color);
}

.navbar__menu__item:hover{
  background-color: var(--main-dark);
  color: var(--font-white);
}

.navbar__toggle-btn{
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--main-color);
  display: none;
}

/* home */
#home{
  background: url('img/background.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
}

.home__title, .home__description{
  color: var(--font-grey);
}

.home__contact{
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--font-grey);
  color: var(--font-grey);
  border-radius: var(--size-border-radius);
}

/* section common */
.section{
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container{
  max-width: 1200px;
  margin: auto;
}

/* about */
.about__wrap{
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.about__description span{
  display: inline-block;
  color: var(--point-color);
  font-weight: var(--weight-bold);
  animation:circle 1s 0.7s infinite alternate;
  padding: 0 5px;
}

@keyframes circle { 
  0% { transform: rotate(-10deg);} 
  100% {transform: rotate(10deg);} 
} 

.about__description span.icon{
  animation: icon 1s 0.7s infinite alternate;
  padding: 0 5px;
}

@keyframes icon{
  0%{ transform: translateY(0)}
  100%{ transform: translateY(-10px)}
}

.job{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-grey);
  line-height: var(--font-medium);
}

.job p{
  font-size: var(--font-regular);
  color: var(--font-grey);
  font-weight: var(--weight-semi-bold);
}

.job__period.active{
  color: var(--point-color);
  font-weight: var(--weight-bold);
}

.job__pin{
  width: 80px;
  border-top: 1px solid var(--font-color);
  margin: 0 10px;
}

/* skill */
#skills{
  background-color: rgba(255, 193, 7, 0.3);
}

.skillset{
  display: flex;
  background-color: var(--font-grey-light);
  color: var(--font-white);
  margin: 20px 0;
}

.skillset__title{
  margin: 0;
  padding: 8px 0;
  color: var(--font-white);
}

.skillset__left{
flex-basis: 60%;
background-color: var(--font-grey-dark);
padding: 20px 40px;
}

.skill{
  margin-bottom: 32px;
}

.skill__description{
  display: flex;
  justify-content: space-between;
}

.skill__bar{
  height: 3px;
  background: var(--font-grey);
}

.skill__value{
  width: 100%;
  height: 3px;
  background-color: var(--main-dark);
}

.skillset__right{
flex-basis: 40%;
}

.tools{
  background-color: var(--font-grey);
}

.tools, .etc{
  padding: 20px;
}

/* work */
.work__categories{
  margin: 40px;
}

.category__btn{
  border: 1px solid var(--font-grey-light);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,.category__btn:hover{
  background-color: var(--point-light);
  color: var(--font-white);
}

.category__btn.active .category__count,.category__btn:hover .category__count{
  opacity: 1;
  top: 0;
}

.category__count{
  display: inline-block;
  background: var(--main-color);
  border-radius: 50%;
  color: var(--font-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project{
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--font-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img{
  max-width: 100%;
  max-height: 100%;
}

.project__description{
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description{
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3{
  color: var(--font-white);
}

.project__description h3::after{
  content: '';
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--font-white);
}

/* testimonial */
#testimonials{
  background-color: rgba(255, 193, 7, 0.3);
}

.testimonials{
  margin: 40px;
}

.testimonial{
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
  margin-left: 40px;
}

.testimonial__speeach-buble{
  padding: 18px;
  background-color: var(--font-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speeach-buble p{
  color: var(--font-grey-light);
}

.testimonial__speeach-buble a{
  color: var(--point-color);
}

/* contact */
#contact{
  background: var(--font-white);
}

.contact__title, .contact__info{
  color: var(--main-color);
}

.contact__title{
  margin: 32px 0;
}

.contact__info{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.contact__links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact__links li{
  color: var(--font-grey);
  font-size: var(--font-regular);
  line-height: var(--font-medium);
}

.contact__links span{
  color: var(--point-color);
  font-weight: var(--weight-bold);
}

.contact__thk{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__text{
  background: var(--main-color);
  color: var(--font-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.contact__rights{
  font-size: var(--font-micro);
  color: var(--font-grey-light);
}

/* For below 768px screen width */
@media screen and (max-width: 768px){
  .navbar__toggle-btn{
    display: block;
  }

  #navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu{
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__wrap{
    flex-direction: column;
  }

  .about__description{
    margin-bottom: 50px;
  }

  .skillset{
    flex-direction: column;
  }

  .project{
    flex-grow: 1;
  }

  .testimonial__avatar{
    width: 80px;
    height: 80px;
  }

  .contact__info{
    flex-direction: column;
  }

  .contact__links{
    align-items: center;
    margin-bottom: 32px;
  }
}